.custom-navbar {
    background-color: #012030; /* Color de fondo oscuro */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Texto de los enlaces en blanco */
}

.navbar-nav .nav-link:hover {
    color: #cccccc; /* Color gris claro al pasar el ratón */
}



.btn{
    border-radius: 0.7rem;
    color:#012030;;
    width: 15rem;
    font-weight: bold;
}
.img-fluid
{
    width: 70%;
    height: 90%;
}

.col-md-6{
    padding: 10%;
}

.btn-primary-2{
    color:white;
}